:root{
    --pale-blue: hsl(225,100%,94%);
    --bright-blue: hsl(245,75%,52%);
    --very-pale-blue: hsl(225,100%,98%);
    --desaturated-blue: hsl(224,23%,55%);
    --dark-blue: hsl(223,47%,23%);
}
/*Cuerpo y fondo*/
body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: url(../imagenes/fondo8.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* cuidado*/ 
    background-color: var(--pale-blue);
    font-family: sans-serif;
    height: 100vh;
    backdrop-filter: blur(2px);
    
}
/*caja de formulario*/
.login{
    width: 420px;
    height: 560px;
    background:rgba(255, 255, 255, 0.847); 
    color: #000;
    top: 50%;
    left:50%;
    position : absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    backdrop-filter: blur(8px);
    border-radius: 15px;

}
/*Logo*/
.login .logo{
    width: 320px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: calc(50% - 160px);
    padding: 10px 0 0;
    
}
/* titulo */
.login h1{
   margin: 0;
   padding: 80px 0 30px;
   text-align: center; 
   font-size: 28px;
   font-family: sans-serif;
}
/*Nombres formulario*/
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 19px;
}
/* formulario*/
.login input{
    width: 100%;
    margin-bottom: 30px;
}
/*Entradas de formularios*/
.login input[type="text"],
.login input[type="password"]{
    border:none;
    border-bottom: 1px solid rgb(162, 162, 162);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(37, 37, 37);
    font-size: 15px;

}
/*contenido de los fgormularios*/
.login input[type="text"]::placeholder,
.login input[type="password"]::placeholder{
    color: rgba(14, 14, 14, 0.738); 
}
/*boton de ingresar*/
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgba(123, 121, 121, 0.395);
    color: black;
    font-size: 18px;
    border-radius: 10px;
}
/*boton de ingresas cuandos e pasa el mouse encima*/
.login input[type="submit"]:hover{
    background: rgba(123, 121, 121, 0.739);
    cursor: pointer;
}
/*Olvide la contraseña*/
.login a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: rgba(26, 25, 25, 0.497);
}
/*Olvide la contraseña*/
.login a:hover{
    color:rgba(26, 25, 25, 0.815);
}